folium==0.14.0
geopandas==0.12.2
numpy==1.22.3
pandas==1.5.3
plotly==5.6.0
scikit_learn==1.1.2
SQLAlchemy==2.0.5.post1
stack-data==0.2.0

streamlit-folium==0.11.1
mapclassify==2.5.0
MarkupSafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
jenkspy==0.3.2
mapclassify==2.5.0

streamlit==1.19.0
streamlit
streamlit-extras
streamlit-aggrid
streamlit-plotly-events
folium
streamlit_folium
streamlit-aggrid
plotly
scikit_learn
pydeck
pillow
notebook
openpyxl
fuzzywuzzy
xlrd
xlwt
